@import "~bootstrap/scss/bootstrap";
//@import "~react-bootstrap-sidebar-menu/dist/sidebar-menu";
@import "./sidebar-menu";

html, body, #root {
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.main-header {
  grid-area: header;
  padding: 0.5rem;
}

.main-container {
  grid-area: main;
  box-shadow: inset 2px 1px 9px 1px  rgba($dark, 0.10);
  overflow: auto;
  padding-top: 1rem;
  min-height: 900px;
  padding-left: 30px;
}

.sidebar-menu {
  padding-top: 0;
  flex-direction: column;
  grid-area: sidebar;
  overflow-y: auto;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #aaa;
}

// Custom;  Try to avoid customizing, and instead use what bootstrap offers

.profile{
  color: #aaa;
}

.breadcrumb-item{
  font-size: 14px;
}

.breadcrumb-item a{
  color: #aaa;
  text-decoration: none;
}

.card-title{
  color: #aaa;
  font-size: 14px;
}

.card-subtitle{
  font-size: 36px;
}

.units{
  font-size: 10px;
  color: #aaa;
}

.card-icon{
  float: right;
}

.section{
  margin-top: 30px;
  margin-bottom: 30px;
}

.dashboard{
  padding: 30px;
  background-color: #eee;
}